* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .note {
    height: 500px;
    width: 500px;
    background-color: #e4d6c9;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px;
    display: grid;
    place-items: center;
  }
  .note p {
    font-family: "Caveat", cursive;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    color: #361e07;
  }
  .tape {
    position: absolute;
    height: 220px;
    width: 60px;
    transform: rotate(45deg);
    background: repeating-linear-gradient(
      45deg,
      #f7c61a 0,
      #f7c61a 5px,
      transparent 5px,
      transparent 10px,
      #101010 10px,
      #101010 15px
    );
  }
  .tape-1 {
    bottom: 380px;
    right: 420px;
  }
  .tape-2 {
    top: 390px;
    left: 400px;
  }