* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .note {
    height: 460px;
    width: 460px;
    background-color: #e4d6c9;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px;
    display: grid;
    place-items: center;
  }
  .note p {
    font-family: "Caveat", cursive;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    color: #361e07;
  }
  